.proj-modal-wrapper {
  padding: 1rem;
}

.proj-modal-tags {
  margin-top: -0.618rem;
  margin-left: -0.618rem;
}

.proj-modal-tags>* {
  margin-top: 0.618rem;
  margin-left: 0.618rem;
  text-shadow: 0 0 1px #666;
}

.proj-modal-value {
  text-shadow: 0 0 1px #ff0;
}