.profile {
  padding-top: 80px;
  overflow: hidden;
}

h1.first-title {
  text-shadow: 0 0 2px #000;
}

.first-title.badge {
  text-shadow: 0 0 1px #333;
  font-size: 1rem;
}

.ani {
  opacity: 1;
  position: relative;
  left: 0;
  top: 0;
  transition: all 1s;
}

.ani.fade-in-right {
  opacity: 0;
  left: -2em;
}

.ani.fade-in-left {
  opacity: 0;
  left: 2em;
}