*, *:before, *:after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

/* for small OR large */

.for-small {
  display: block;
}

.for-large {
  display: none;
}

@media (min-width: 768px) {
  .for-small {
    display: none;
  }
  .for-large {
    display: block;
  }
}